<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     
    <ion-title>
      Planes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h5>Bienvenido a su sistema de inventario</h5>
    <p>Para acceder nuestros servicios consigue nuestros paquetes</p>
    <section class="item">

      <div class="col-12 item-container my-2 my-lg-1">
        <h5>Suscripcion Plan Empresario</h5>
        <p>por el siguiente plan obtienes</p>
        <ul>
          <li>Roles de usuario</li>
          <li>Gestion de proveedores</li>
          <li>Registro por codigo de barras</li>
        </ul>
        <h2>$249.99 Bimestral</h2>
        <ion-button shape="round" expand="full">Obtener</ion-button>
      </div>

      <div class="col-12 item-container my-2 my-lg-1">
        <h5>Suscripcion Plan Premium</h5>
        <ul>
          <li>Roles de usuario</li>
          <li>Gestion de proveedores</li>
          <li>Registro por codigo de barras</li>
          <li>Graficos en tiempo real</li>
          <li>Alertas de escasez de productos</li>
        </ul>
        <h2>$449.99 Bimestral</h2>
        <ion-button shape="round" expand="full">Obtener</ion-button>
      </div>

    </section>
</div>
</ion-content>