<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     
    <ion-title>
      Catalogo
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <section *ngIf="user.plan == '' " class="text-center">
    <swiper [spaceBetween]="30" [centeredSlides]="true" [loop]="true" (click)="send('plan')" class="mySwiper">
      <ng-template swiperSlide>
        <img [src]="advertising[random]">
      </ng-template>
    </swiper>
    <span class="text-subtitle">Para quitar los anuncion aumente de plan</span>
  </section>

  <section class="ion-padding">
    <div class="menu-buttons">
      <h5 class="ms-3 fw-bold">Catalogo de productos</h5>
      <ion-button class="float-end" (click)="isModalOpen = true">
        <ion-icon name="add"></ion-icon>
        <ion-label>Nuevo</ion-label>
      </ion-button>
    </div>

    <ion-row *ngIf="products.length > 0;else noProducts" class="my-2 ion-justify-content-evenly">
      <ion-col *ngFor="let product of products" class="p-2 text-center" size="5" (click)="modalUD(product)">
        <div>
          <img *ngIf="product.img == '' " class="img-thumbnail img-size mb-2" src="../../../../assets/img/products_blank.jpg" alt="">
          <img *ngIf="product.img != '' " class="img-thumbnail img-size mb-1" src="{{product.img}}" alt="">
          <h5 class="text-subtitle">{{ product.titulo }}</h5>
          <p>Piezas: {{ product.piezas }}</p>
          <h4>${{ product.precio | number : '1.2-2'  }}</h4>
        </div>
      </ion-col>
    </ion-row>
  </section>

  <!-- Modal register/update product -->
  <ion-modal [isOpen]="isModalOpen" [backdropDismiss]="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="reset()">
              <ion-icon name="arrow-undo"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title *ngIf="isSelected === false" class="fw-bold">Nuevo producto</ion-title>
          <ion-title *ngIf="isSelected === true" class="fw-bold">Modificando producto</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="addProduct(formInventory.value)" [strong]="true">
              <ion-label>Enviar</ion-label>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="p-3">
          <form [formGroup]="formInventory" (ngSubmit)="addProduct(formInventory.value)">
            <div *ngIf="isSelected === true" class="row mb-2">
              <div class="col-12">
                <h5 class="d-inline text-subtitle fw-bold">Ingrese los nuevos valores</h5>
                <button class="btn btn-outline-danger float-end" (click)="deleteProduct()" type="button">
                  Borrar <ion-icon name="trash"></ion-icon>
                </button>
              </div>
            </div>
            <div *ngIf="formValid === false" class="alert alert-danger mt-2" role="alert">
              Datos incompletos o invalidos
            </div>
            <div class="row mb-3">
              <div class="col-12">
                <label class="form-label">Nombre del producto</label>
                <input class="form-control" formControlName="titulo" type="text">
                <span class="text-danger" *ngIf="title?.errors?.required && (title.dirty || title.touched
                || formValid === false)">
                  Titulo o nombre del articulo requerido
                </span>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-12">
                <label class="form-label">Descripcion</label>
                <input class="form-control" formControlName="descripcion" type="text">
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <label class="form-label">Precio</label>
                <input class="form-control" formControlName="precio" type="number">
                <span class="text-danger" *ngIf="cost?.errors?.min && (cost.dirty || cost.touched
                  || formValid === false)">
                  Precio requerido
                </span>
              </div>
              <div class="col-6">
                <label class="form-label">Piezas por articulo</label>
                <input class="form-control" formControlName="piezas" type="number">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12">
                <label class="form-label">Imagen o Foto</label>
                <div *ngIf="preview" class="text-center mt-2 mb-3">
                  <img class="img-thumbnail w-50" [src]="preview" alt="">
                </div>
                <input class="form-control" (change)="appendArchive($event)" type="file">
                <button class="w-100 btn btn-outline-secondary mt-3" (click)="takePhoto()"
                type="button">Tomar Foto</button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <label class="form-label">Proveedor</label>
                <select class="form-select" formControlName="id_proveedor">
                  <option *ngFor="let prov of proveedors" [value]="prov">{{ prov }}</option>
                </select>
              </div>
            </div>
            <div class="mt-3">
              <ion-button shape="round" color="tertiary" class="float-end" type="submit">
                <ion-spinner *ngIf="loading === true" name="crescent"></ion-spinner>                
                <span *ngIf="loading === false">Enviar</span>
              </ion-button>
              <ion-button [disabled]="loading" shape="round" color="medium" (click)="reset()" type="button">Limpiar</ion-button>
            </div>
          </form>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>

<ng-template #noProducts>
  <div class="row text-center mt-4">
    <h5 class="fw-bold">No se encontraron productos almacenados!</h5>
  </div>
</ng-template>