<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     
    <ion-title>
      Inventario
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <section class="ion-padding">
    <div class="menu-buttons">
      <h5 class="ms-3 fw-bold">Catalogo de productos</h5>
      <ion-button class="float-end" (click)="isModalOpen = true">
        <ion-icon name="add"></ion-icon>
        <ion-label>Nuevo</ion-label>
      </ion-button>
    </div>

    <ion-row *ngIf="products.length > 0;else noProducts" class="my-2 ion-justify-content-evenly">
      <ion-col *ngFor="let product of products" class="p-2 text-center" size="5">
        <img *ngIf="product.img == '' " class="img-thumbnail h-50 mb-2" src="../../../../assets/img/products_blank.jpg" alt="">
        <img *ngIf="product.img != '' " class="img-thumbnail h-50 mb-2" src="{{product.img}}" alt="">
        <h5 class="text-subtitle">{{ product.titulo }}</h5>
        <p>Cantidad: {{ product.cantidad }}</p>
        <h4>${{ product.precio }}</h4>
      </ion-col>
    </ion-row>
  </section>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="isModalOpen = false">
              <ion-icon name="arrow-undo"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title class="text-subtitle">Nuevo producto</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isModalOpen = false" [strong]="true">
              <ion-icon name="new"></ion-icon>
              <ion-label>Enviar</ion-label>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div>
          <form [formGroup]="formInventory" (ngSubmit)="addProduct(formInventory.value)">
            <div class="row">
              <div class="col-12">
                <label class="form-label">Nombre</label>
                <input class="form-control" formControlName="titulo" type="text">
              </div>
              <div class="col-12">
                <label class="form-label">Descripcion</label>
                <input class="form-control" formControlName="descripcion" type="text">
              </div>
              <div class="col-6">
                <label class="form-label">Precio</label>
                <input class="form-control" formControlName="precio" type="number">
              </div>
              <div class="col-6">
                <label class="form-label">Cantidad en inventario</label>
                <input class="form-control" formControlName="cantidad" type="number">
              </div>
              <div class="col-12">
                <label class="form-label">Piezas por producto</label>
                <input class="form-control" formControlName="piezas" type="number">
              </div>
              <div class="col-12">
                <label class="form-label">Imagen o Foto</label>
                <input class="form-control" formControlName="img" type="file">
              </div>
              <div class="col-12">
                <label class="form-label">Proveedor</label>
                <select class="form-select" formControlName="id_proveedor">
                  <option *ngFor="let prov of proveedors" [value]="prov">{{ prov }}</option>
                </select>
              </div>
            </div>
            <button class="btn btn-outline-primary" type="submit">Enviar</button>
          </form>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>

<ng-template #noProducts>
  <div class="row text-center mt-4">
    <h5 class="fw-bold">No se encontraron productos almacenados!</h5>
  </div>
</ng-template>