<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     
    <ion-title>
      Inventario
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <section class="ion-padding">
    <div class="menu-buttons">
      <ion-button (click)="isModalOpen = true">
        <ion-icon name="add"></ion-icon>
        <ion-label>Nuevo</ion-label>
      </ion-button>
    </div>

    <h5 class="ms-3">Catalogo de productos</h5>
    <ion-row *ngIf="products.length > 0;else noProducts" class="ion-justify-content-evenly">
      <ion-col *ngFor="let product of products" class="ion-padding text-center" size="5">
        <img *ngIf="product.img == '' " class="img-thumbnail h-50" src="../../../../assets/img/products_blank.jpg" alt="">
        <img *ngIf="product.img != '' " class="img-thumbnail h-50" src="{{product.img}}" alt="">
        <h5>{{ product.titulo }}</h5>
        <p>Cantidad: {{ product.cantidad }}</p>
        <h4>${{ product.precio }}</h4>
      </ion-col>
    </ion-row>
  </section>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="isModalOpen = false">
              <ion-icon name="arrow-undo"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Nuevo producto</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isModalOpen = false" [strong]="true">
              <ion-icon name="add-circle"></ion-icon>
              <ion-label>Enviar</ion-label>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>

<ng-template #noProducts>
  <div class="row text-center">
    <h4>No se encontraron productos almacenados!</h4>
  </div>
</ng-template>