ion-col {
    background-color: #ddd;
    height: 190px;
    max-height: 190px;
    border-radius: 20px;
    margin: 8px;
    font-size: 13px;
}

h4 {
    font-size: 18px;
    font-weight: bold;
}
h5, .text-subtitle {
    font-size: 14.5px;
}
.form-label, span {
    font-size: 13px !important
}
.text-subtitle {
    color: #073086;
}

ion-col p, ion-col h5, ion-col h4 {
    margin: 2px 0;
}
ion-col img {
    border-radius: 20px;
    border: #ddd solid 1px;
}

ion-modal ion-label {
    margin-left: 8px;
}
ion-button {
    text-transform: none;
}

.menu-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-buttons ion-label {
    margin-left: 8px;
}
.img-size {
    width: auto;
    max-height: 100px;
}