<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div class="ion-padding">
      <h4>Bienvenido a su sistema de inventario</h4>
      <p>Para acceder nuestros servicios consigue nuestros paquetes</p>
      
      <section class="card">
        <div class="card-container">
          <h5>Suscribete 3 meses</h5>
          <p>por los siguientes meses obtienes</p>
          <!-- <ion-list>
            <ion-item>
              <ion-label>Base de datos</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Roles de usuario</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Almacenamiento de archivos</ion-label>
            </ion-item>
          </ion-list> -->
          <ul>
            <li>Base de datos</li>
            <li>Roles de usuario</li>
          </ul>
          <h2>$149.99</h2>
          <ion-button shape="round" expand="full">Obtener</ion-button>
        </div>
        <div class="card-container">
          <h5>Suscribete 6 meses</h5>
          <ul>
            <li>Base de datos</li>
            <li>Roles de usuario</li>
            <li>Almacenamiento de archivos</li>
            <li>Administracion de usuarios</li>
          </ul>
          <h2>$299.99</h2>
          <ion-button shape="round" expand="full">Obtener</ion-button>
        </div>
        <div class="card-container">
          <h5>Suscribete a 12 meses</h5>
          <ul>
            <li>Base de datos</li>
            <li>Roles de usuario</li>
            <li>Almacenamiento de archivos</li>
            <li>Administracion de usuarios</li>
            <li>Tablero propio</li>
          </ul>
          <h2>$549.99</h2>
          <ion-button shape="round" expand="full">Obtener</ion-button>
        </div>
      </section>
  </div>
</ion-content>