<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div *ngIf="user.plan != ''; else logged">
    <section id="products" class="ion-padding">
      <h4>Productos recientes</h4>
      <div class="row d-flex justify-content-around mt-4 text-center">
        <div class="col-5 border rounded bg-light p-2">
          <p>producto 1</p>
        </div>
        <div class="col-5 border rounded bg-light p-2">
          <p>producto 2</p>
        </div>
      </div>
    </section>
  </div>
</ion-content>

<ng-template #logged>
  <div class="ion-padding">
      <h5>Bienvenido a su sistema de inventario</h5>
      <p>Para acceder nuestros servicios consigue nuestros paquetes</p>
      <section class="item">

        <div class="col-12 item-container my-2 my-lg-1">
          <h5>Suscribete 3 meses</h5>
          <p>por los siguientes meses obtienes</p>
          <ul>
            <li>Base de datos</li>
            <li>Roles de usuario</li>
          </ul>
          <h2>$149.99</h2>
          <ion-button shape="round" expand="full">Obtener</ion-button>
        </div>

        <div class="col-12 item-container my-2 my-lg-1">
          <h5>Suscribete 6 meses</h5>
          <ul>
            <li>Base de datos</li>
            <li>Roles de usuario</li>
            <li>Almacenamiento de archivos</li>
            <li>Administracion de usuarios</li>
          </ul>
          <h2>$299.99</h2>
          <ion-button shape="round" expand="full">Obtener</ion-button>
        </div>

        <div class="col-12 item-container my-2 my-lg-1">
          <h5>Suscribete a 12 meses</h5>
          <ul>
            <li>Base de datos</li>
            <li>Roles de usuario</li>
            <li>Almacenamiento de archivos</li>
            <li>Administracion de usuarios</li>
            <li>Tablero propio</li>
          </ul>
          <h2>$549.99</h2>
          <ion-button shape="round" expand="full">Obtener</ion-button>
        </div>

      </section>
  </div>
</ng-template>