<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <section *ngIf="user.plan == '' " class="text-center">
    <swiper [spaceBetween]="30" [centeredSlides]="true" [loop]="true" (click)="send('plan')" class="mySwiper">
      <ng-template swiperSlide>
        <img [src]="advertising[random]">
      </ng-template>
    </swiper>
    <span class="text-subtitle">Para quitar los anuncion aumente de plan</span>
  </section>

  <section [ngClass]="user.plan != '' ? 'contain' : '' " class="ion-padding d-flex align-items-center">
    <div class="row d-flex justify-content-evenly text-center">
      <div class="tarjeta bg-light border my-4 p-3" (click)="send('inventory')">
        <h4>Catalogo</h4>
        <ion-icon name="pricetag"></ion-icon>
      </div>
      <div class="tarjeta bg-light border my-4 p-3" (click)="send('storage')">
        <h4>Almacen</h4>
        <ion-icon name="server"></ion-icon>
      </div>
      <div class="tarjeta bg-light border my-4 p-3" (click)="send('plan')">
        <h4>Planes</h4>
        <ion-icon name="cube"></ion-icon>
      </div>
      <div class="tarjeta bg-light border my-4 p-3" (click)="send('perfil')">
        <h4>Perfil</h4>
        <ion-icon name="person-circle"></ion-icon>
      </div>
    </div>
  </section>
</ion-content>

<ng-template #noProducts>
  <div class="row text-center">
    <h4>No hay productos recientemente agregados!</h4>
  </div>
</ng-template>