<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <nav class="sidemenu">
      <form>
        <div class="row">
          <h3>Iniciar sesion</h3>
          <div class="col-12">
            <input class="form-control" type="email">
          </div>
          <div class="col-12">
            <input class="form-control" type="password">
          </div>
          <button class="btn btn-login">Enviar</button>
        </div>
      </form>
    </nav>
  </div>
</ion-content>