<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container">
    <nav class="sidemenu shadow">
      <form [formGroup]="forms" (ngSubmit)="login(forms.value)">
        <div class="row">
          <div class="col-12">
            <h3 class="text-center">Login</h3>
            <div *ngIf="formValid === false" class="alert alert-danger mt-4 mb-2" role="alert">
              Correo o contraseña incorrecto
            </div>
          </div>
          <div class="col-12 my-3">
            <label class="form-label">Correo</label>
            <input formControlName="email" class="form-control" type="email">
            <!-- <span class="text-danger" *ngIf="mail?.errors?.required && (mail.dirty || mail.touched
            || formValid === false)">
              Correo requerido
            </span> -->
            <span class="text-danger" *ngIf="mail?.hasError('pattern') && (mail.dirty || mail.touched
            || formValid === false)">
              Tipo de correo invalido
            </span>
          </div>
          <div class="col-12 mb-2">
            <label class="form-label">Contraseña</label>
            <input formControlName="password" class="form-control" type="password">
            <!-- <span class="text-danger" *ngIf="pass?.errors?.required && (pass.dirty || pass.touched
            || formValid === false)">
              Contraseña requerida
            </span> -->
            <span class="text-danger" *ngIf="pass.hasError('minlength') && 
            (pass.dirty || pass.touched || formValid === false)">
              Contraseña minima de 8 caracteres
            </span>
          </div>
        </div>
        <div class="text-center">
          <button id="logIn" class="btn btn-login my-1 w-100 text-white" type="submit">Enviar</button>
          <button class="btn btn-danger my-1 w-100 text-white" (click)="loginG()" type="button">Iniciar con Google</button>
          <a [routerLink]="['/register']">No tengo una cuenta</a>
        </div>
      </form>
    </nav>
  </div>
</ion-content>