ion-col {
    background-color: #ddd;
    height: 200px;
    border-radius: 20px;
    margin: 16px 0;
    font-size: 14px;
}

ion-col h5 {
    color: #073086;
}
ion-col p, ion-col h5, ion-col h4 {
    margin: 10px 0;
}